html [type=button] {
    -webkit-appearance: none;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    padding: .375rem 1.4rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header-bg {
    width: 100%;
    background: #4c55a6;
    background: -moz-linear-gradient(45deg, #4c55a6 0, #5163de 100%);
    background: -webkit-linear-gradient(45deg, #4c55a6 0, #5163de 100%);
    background: -o-linear-gradient(45deg, #4c55a6 0, #5163de 100%);
    background: linear-gradient(45deg, #4c55a6 0, #5163de 100%);
    padding: 20px 0;
	text-align:center;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-si0 1.25rem;
    line-height: 1;
    background-color: #fff;
    border: 1px solid #4b54a6;
    border-radius: .25rem;
    color: #4b54a6;
}

.search-wrapper {
    padding: 40px 0;
}

.search-wrapper .btn {
    font-size: 2rem !important;
    margin-top: 15px;
    padding: 15px 20px;
    border: transparent;
    float: left;
    text-align: left;
}

.search-wrapper .form-control {
    border: transparent;
    background: #f8f9fa!important;
    font-family: "poppins";
    font-size: 4rem;
}

.util-nav {
    margin-top: 20px;
}

a.nav-link {
    color: #fff;
    font-size: 1.6rem;
}

.logo-area h1 {
    font-family: 'Coda Caption', sans-serif;
    font-size: 3rem;
    color: #fff;
    font-weight: 100;
    margin: 1rem 0 2rem;
}

h2,h3,h4,h5,h6{
	font-family: "poppins";
}




.nav-btn {
    background: #fff;
    border-radius: 40px;
    padding: 10px 10px;
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
    min-width: 130px;
}

.btn-primary{
	background: #4B54A6;

}

.btn-secondary{
	color: #4B54A6
}

.main-navigation {
    margin: 20px 0;
}


.hero-wrapper {
    background: url(/img/fill-f.png);
    height: 500px;
    background-position: 90% center;
    top: -190px;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-img {
    text-align: center;
}


.hero-img img{
	max-height:300px;
	margin:30px auto;
}

.hero-content {
    margin-top: 13%;
}

.hero-content h2 {
    color: #fff;
    margin: 30px 0 10px;
    font-weight: 100;
    font-size: 2.4rem;
}

.hero-content h4 {
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
    padding-right: 25%;
    margin: 20px 0;
}

.pet-section{
	margin-top:40px;
	margin-bottom:100px;
}

.pet-card {
    padding: 10px 30px;
}

.pet-image{
	text-align:center;
}

.pet-image img {
    max-height: 200px;
    margin: 10px auto;
}

.pet-title {
    text-align: center;
}

.pet-title h3 {
    margin: 20px;
    font-weight: 100;
    font-size: 2.4rem;
}

.pet-description {
    min-height: 75px;
}





/* SmartBear Section */

.smartbear-background {
    position: relative;
    background: #4c55a6;
    background: -moz-linear-gradient(left, #4c55a6 0, #5163de 100%);
    background: -webkit-linear-gradient(left, #4c55a6 0, #5163de 100%);
    background: -webkit-gradient(linear, left top, right top, from(#4c55a6), to(#5163de));
    background: -o-linear-gradient(left, #4c55a6 0, #5163de 100%);
    background: linear-gradient(to right, #4c55a6 0, #5163de 100%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 20px 32px 45px rgba(76, 85, 166, .25);
    -moz-box-shadow: 20px 32px 45px rgba(76, 85, 166, .25);
    padding: 3rem;
    box-shadow: 20px 32px 45px rgba(76, 85, 166, .25);
	margin:100px;
}

.smartbear-background h2 {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 100;
}

.smartbear-background .form-control {
    margin: 0;
    padding: 7px 0 9px 0;
    width: 100%;
    background: 0 0;
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 0;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: .22px;
    color: #fff;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

/* Single Template */
.pet-single {
    margin: 100px 50px;
    border-bottom: 3px solid #4B54A6;
    padding: 100px 0;
}

.pet-single-image  {
   text-align:center;
}


.pet-single-image img {
    max-height: 350px;
}

h2.pet-single-title {
    font-size: 5.2rem;
    font-family: 'poppins' , sans-serif;
    font-weight: 100;
}


/* Checkout Page */

.checkout-content{
	margin-top:60px;
}
